body {

}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%
}

.logo {
  display: flex;
  align-items: center;
  color: aquamarine;
}

nav {
  display: inline-block;
}

.content {
  display: flex;

}

.column-large {

}

.column-medium {

}

.column-small {
  
}

.lead-story {

}

.image-content {

}

.narrative {

}

.stories {

}

.story {

}

.text-content {

}

.fall-cancelled {

}
