body {

}

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  width: 100%
}

.logo {
  display: flex;
  align-items: center;
  color: aquamarine;
}

nav {
  display: inline-block;
}

div {
  border: 1px solid black;
}
.content {
  display: flex;

}

.column {
  display: flex;
}

.column.large-left {
  width: 630px;
}

.column.medium-middle {
  width: 300px;
}

.column.small-right {
  width: 240px;
}

.lead-story {

}

.image-content {

}

.narrative {

}

.stories {

}

.story {

}

.text-content {

}

.fall-cancelled {

}
